
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  font-family: 'Popins',sans-serif;
  margin:0px;
  padding:0px;
}

:root{

  --color-yellow:#f9c74f;
  --color-purple:#9d4edd;
}
.App{
  text-align: center;
  padding:4em 0;
}

.bg-purple{
  background-color:var(--color-purple);
}